<!DOCTYPE html>
<html lang="en">
<% include ../../partials/_head.ejs %>

<body>

<div class="container-fluid">
    <% include ../../partials/_navbar.ejs %>

    <div class="row justify-content-sm-center">
        <div class="col-sm-6">
            <div class="center-text">  
                <h1>Login</h1>
                    <form class="login-form" action="/auth/login" method="POST">
                        <div class="form-text">username: </div><input class="login" type="text" name="username"><br>
                        <div class="form-text">password: </div><input class="login" type="text" name="password"><br>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </form>
                    <hr>
                    <div class="public-leaderboard"><h2>Keyword Leaderboard</h2>
        
                    <% for (let i = 0; i < keywords.length; i++) {%>
                        <% if (keywords[i].count > 0) { %>
                            <p class="all-caps"><%= keywords[i].word %>: <%= keywords[i].count %></p>
                       <% } %>
                    <% } %>
                    
                    </div>
                    <div id="signup-line"><a href="/auth/register"><p>Don't have an account? Sign up.</p></a></div>
            </div>
        </div>
    </div>
</div>

    <% include ../../partials/_bootstrap-links.ejs %>
</body>
</html>