body { 
    background: url(./images/ivana-cajina-378753-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
  }

.container-fluid {
    padding: 0;
}

.row.equal-height {
    display: flex;
    flex-wrap: wrap;
 }

 .row.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
 }

h1 {
    font-family: 'Shrikhand', cursive;
    margin: 25px auto 10px auto;
    font-size: 50px;
    letter-spacing: .15em;
    text-transform: uppercase;
}

h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 24px;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding-bottom: 10px;
}


h3 {
    font-family: 'Shrikhand', cursive;
    margin: 25px auto 10px auto;
    font-size: 40px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    margin: 15px auto 10px auto;
    font-size: 40px;
}

h5 {
    color: grey;
}

p {
    font-size: 20px;
}

.all-caps {
    text-transform: uppercase;
    letter-spacing: .15em;
    line-height: .75em;
}

.date {
    font-family: 'Roboto', sans-serif;
    color: lightgray;
    font-size: 20px;
    display: inline-block;
    border: solid lightgray 1px;
    padding: 5px 10px;
}

.dreamtitle {
    display: inline-block;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: .15em;
}

ul {
    padding: 0;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #4CAF50;
}

a:hover {
    font-family: 'Roboto', sans-serif;
    color: rgb(61, 143, 64);
    text-decoration: none;
}

.navbar-brand {
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
}

.nav-link {
    font-size: 15px;
}

.center-text {
    text-align: center;
}

.btn {
    margin: 20px 10px;
    display: inline;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.btn-group {
    margin: auto auto;
}

.badge {
    margin: 10px 5px 40px 5px;
    font-size: 15px;
    padding: 5px 10px;
}

.card {
    display: inline-block;
    flex: 1;
}

.card-deck {
    margin: 50px auto;
    display: inline-block;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.img-thumbnail {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}

.profile-img {
    width: 30%;
    display: inline;
}

.login-form {
    margin: 20px;
}

.form-text {
    text-transform: uppercase;
    letter-spacing: .15em;
    display: inline-block;
    font-size: 20px;
}

.login {
    margin: 10px;
    border-radius: 5px;
    border: solid white 1px;
    padding: 7px;
    letter-spacing: .15em;
}

.signup-line {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .1em;
}

.dream-buttons {
    display: inline-block;
}

.keyword-badges {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 20px;
    width: 125px;
    display: inline-block;
    margin: 10px;
}

hr {
    background-color: rgba(255, 255, 255, 0.5);
    height: 1px;
    margin: 50px 0 50px 0;
}

#exampleInputTitle1 {
    margin-left: -0.5px;
}