body { 
    background: url(./images/ivana-cajina-378753-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
  }

.container-fluid {
    padding: 0;
}

.row.equal-height {
    display: flex;
    flex-wrap: wrap;
 }

 .row.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
 }

h1 {
    font-family: 'Shrikhand', cursive;
    margin: 25px auto 10px auto;
    font-size: 40px;
    letter-spacing: .05em;
}

h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 24px;
    letter-spacing: .1em;
}

h3 {
    font-family: 'Shrikhand', cursive;
    margin: 25px auto 10px auto;
    font-size: 40px;
}

p {
    font-size: 20px;
}

.all-caps {
    text-transform: uppercase;
    letter-spacing: .15em;
}

.date {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #333333;
    display: inline-block;
}

.dreamtitle {
    display: inline-block;
    font-size: 30px;
}

ul {
    padding: 0;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #4CAF50;
}

a:hover {
    font-family: 'Roboto', sans-serif;
    color: rgb(61, 143, 64);
    text-decoration: none;
}

.navbar-brand {
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
}

.nav-link {
    font-size: 15px;
}

.center-text {
    text-align: center;
}

.btn {
    margin: 20px 10px;
    display: inline;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.badge {
    margin: 10px 5px 40px 5px;
    font-size: 15px;
    padding: 5px 10px;
}

.card {
    display: inline-block;
    flex: 1;
}

.card-deck {
    margin: 50px auto;
    display: inline-block;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.login-form {
    text-transform: uppercase;
    margin: 20px;
    letter-spacing: .15em;
}

input {
    margin: 10px;
}

#signup-line {
    padding-top: 20px;
}


