<!DOCTYPE html>
<html lang="en">
<% include ../../partials/_head.ejs %>

<body>

<div class="container-fluid">
    <% include ../../partials/_navbar.ejs %>

    <div class="row justify-content-sm-center">
        <div class="col-sm-6">
            <div class="center-text">  
                <h1>User Edit Page</h1>

            </div>
        </div>
    </div>
</div>

    <% include ../../partials/_bootstrap-links.ejs %>
</body>
</html>