<!DOCTYPE html>
<html lang="en">
<% include ../../partials/_head.ejs %>

<body>

<div class="container-fluid">
    <% include ../../partials/_navbar.ejs %>

    <div class="row justify-content-sm-center">
        <div class="col-sm-6">
            <div class="center-text">  
                <h1>Users Index</h1>
                <% for (let i = 0; i < users.length; i++) { %>
                    <li>
                        <a href="/users/<%=users[i]._id%>"><%=users[i].username%></a>
                    </li>
                <% } %>
            </div>
        </div>
    </div>
</div>

    <% include ../../partials/_bootstrap-links.ejs %>
</body>
</html>