<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Dreams</title>
</head>
<body>
 
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<% include ../../partials/_head.ejs %>

<body>
   
<div class="container-fluid">
 <% include ../../partials/_navbar.ejs %>
    <div class="row justify-content-sm-center">
        <div class="col-sm-6">
            <div class="center-text">  
                  <h1>My Dreams</h1>
                    <%for(let i=0; i < dreams.length; i++){%>
                        <ul>
                            <li><a href="/dreams/<%=dreams[i]._id%>"><%=dreams[i].title%></li>
                            
                            <form action="/dreams/<%=dreams[i]._id%>/edit" method="get">
                                <input type="submit" value="Edit Dream"/>
                            </form>

                            <form action="/dreams/<%=dreams[i]._id%>?_method=DELETE" method="post">
                                <input type="submit" value="Delete Dream"/>
                            </form>
                        </ul>
                    <%}%>
            </div>
        </div>
    </div>
</div>

    <% include ../../partials/_bootstrap-links.ejs %>
</body>
</html>