<!DOCTYPE html>
<html lang="en">
<% include ../../partials/_head.ejs %>

<body>
   
<div class="container-fluid">
 <% include ../../partials/_navbar.ejs %>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="center-text">  
                <h1>New Dream</h1>

                <form action="/dreams" method="POST">
                    <div class="form-group">
                        <label class="form-text">Title:</label>
                        <input type="text" class="form-control" id="exampleInputTitle1" name="title" placeholder="Name your dream!">
                    </div>
                    <div class="form-group">
                        <label class="form-text">Theme/Keyword:</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="keywordId" required>
                        <% keywords.forEach((keyword) => { %>
                            <option value="<%=keyword._id%>"><%=keyword.word%></option>
                        <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-text">Describe your dream:</label>
                        <textarea rows="8" class="form-control" name="body" placeholder="Describe your dream!"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-text">Upload Date:</label>
                        <input type="date" class="form-control" id="exampleInputDatePicker1" name="date" value="<%=todaysDate%>" required>
                    </div>
                    <div class="form-check">
                            <input type="checkbox" name="public">
                            <label class="form-text">Set dream to Public?</label>
                    </div>
                    <button type="submit" class="btn btn-success">Create Dream</button>
                </form>
            </div>
        </div>
    </div>
</div>
    <% include ../../partials/_bootstrap-links.ejs %>
</body>
</html>