<!DOCTYPE html>
<html lang="en">
<% include ../../partials/_head.ejs %>

<body>
   
<div class="container-fluid">
 <% include ../../partials/_navbar.ejs %>
    <div class="row justify-content-sm-center">
        <div class="col-sm-6">
            <div class="center-text">  
                 <h1><%=dream.title%></h1>
                    <p><%=dream.body%></p>

                <form action="/dreams/<%=dream._id%>/edit" method="get">
                    <input type="submit" value="Edit Dream"/>
                </form>

                <form action="/dreams/<%=dream._id%>?_method=DELETE" method="post">
                    <input type="submit" value="Delete Dream"/>
                </form>
            </div>
        </div>
    </div>
</div>

    <% include ../../partials/_bootstrap-links.ejs %>
</body>
</html>